<% content_for :page_id do %>sites_edit<% end %>
<% content_for :page_title do %><%= @messageboard.title %> | Edit<% end %>

<h1>Edit <%= @messageboard.title %></h1>

<%= nested_form_for @messageboard,
                    :url => admin_site_messageboard_path(@messageboard),
                    :html => { :method => :put, :class => :topic_form, :multipart => true } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Edit Topic" %>
  </p>
<% end %>
