<% content_for :page_id do %>topics_listing<% end %>
<% content_for :page_title do %><%= site.title %> | Search: <%= params[:q] %><% end %>
<% content_for :header_nav do %>
  <nav>
    <ul>
      <%= render :partial => 'search/form' %>
    </ul>
  </nav>
<% end %>
<header>
  <nav class="breadcrumbs">
    <ul>
      <li><a href="/">Forums</a> &rarr; </li>
      <li><%= link_to messageboard.title, messageboard_path(messageboard) %> &rarr; </li>
    </ul>
  </nav>
  <h1>Search Results</h1>
  <div class="title">Topic Title</div>
  <div class="posts">Posts</div>
  <div class="started">Started</div>
  <div class="updated">Updated</div>
</header>
<%= render :partial => "topics/topic_condensed", :collection => @topics, :as => :t %>

