<%= form_for(@user, validate: true, as: :user,
  url: create_setup_path(step: step || '1'), method: :post) do |f| %>
  <ul>
    <li>
      <%= f.label :name, 'Username' %>
      <%= f.text_field :name %>
    </li>

    <li>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </li>

    <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>

    <li>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </li>

    <li>
      <%= f.submit 'Continue' %>
    </li>
  </ul>
<% end %>
