<%= form_for(@app_config, validate: true, as: :app_config,
  url: create_setup_path(step: step || '2'), method: :post) do |f| %>

  <div id="setup-container">
    <p class="setup-overview-text">
      Below are the global configuration options for your messageboard.
      These can be altered at a later date by visiting the administration
      section of your thredded messageboard.
    </p>

    <dl>
      <dt><%= f.label :title %></dt>
      <dd><%= f.text_field :title %></dd>

      <dt><%= f.label :description %></dt>
      <dd><%= f.text_field :description %></dd>

      <dt><%= f.label :email_from, 'Emails from this site will come from' %></dt>
      <dd><%= f.text_field :email_from %>
        <br>
        <p class="setup-explanation-text">
          This is the "no reply" email address you would like to have as your
          "reply-to" address.
        </p>
      </dd>

      <dt><%= f.label :email_subject_prefix %></dt>
      <dd><%= f.text_field :email_subject_prefix %>
        <br>
        <p class="setup-explanation-text">
          This will prepend email subjects from your site. Eg: <em>"[Thredded]
          You have been sent a new private topic"</em>
        </p>
      </dd>

      <dt><%= f.label :incoming_email_host %></dt>
      <dd><%= f.text_field :incoming_email_host %>
        <br>
        <p class="setup-explanation-text">
          This incoming email host is the hostname you set at your email relay
          provider. Eg: <em>reply.yourwebsite.com</em>
        </p>
      </dd>
    </dl>

    <%= f.submit 'Continue', class: 'btn setup-continue-btn' %>
  </div>
<% end %>
