<% content_for :page_id do %>private_topics_listing<% end %>
<% content_for :page_title do %>
  <%= messageboard.title %> | Recent Private Topics
<% end %>

<header>
  <nav>
    <ul class="breadcrumbs">
      <li><a href="/">Forums</a></li>
      <li><span><%= messageboard.title %></span></li>
    </ul>
    <ul class="actions">
      <% if messageboard.postable_by?(current_user) -%>
        <li class='new_topic'><%= link_to 'new topic', new_messageboard_topic_path(messageboard) %></li>
        <li class='new_private_topic'><%= link_to 'private topic', new_messageboard_private_topic_path(messageboard) %></li>
      <% end %>
    </ul>
  </nav>
  <%= render partial: 'shared/currently_online' %>
  <%= render partial: 'shared/topic_nav' %>
</header>

<section class="topics">
<% if @private_topics.first %>
  <% cache(['private_topic_list', @private_topics.first, @tracked_user_reads.first]) do %>
      <div class="currently">
        <%= render partial: 'topics/topic_condensed', collection: @private_topics, as: :t %>
      </div>
  <% end %>
<% end %>
</section>

<footer>
  <%= paginate @private_topics %>
  <nav>
    <% if messageboard.postable_by?(current_user) %>
      <ul class="actions">
        <li><%= link_to 'Create a New Topic',
          new_messageboard_topic_path(messageboard) %></li>
      </ul>
    <% end %>
    <ul class="breadcrumbs">
      <li><a href="/">Forums</a></li>
      <li><span><%= messageboard.title %></span></li>
    </ul>
  </nav>
</footer>
