<% content_for :page_id do %>private_topics_listing<% end %>
<% content_for :page_title do %>
  <%= messageboard.title %> | Recent Private Topics
<% end %>

<header>
  <nav>
    <ul class="breadcrumbs">
      <li><%= link_to 'Forums', root_path %></li>
      <li><span><%= messageboard.title %></span></li>
    </ul>
  </nav>

  <%= render partial: 'shared/currently_online' %>
  <%= render partial: 'shared/topic_nav' %>
</header>

<section class="topics">
  <% if @private_topics.any? %>
    <div class="currently">
      <%= render partial: 'topics/topic_condensed', collection: @private_topics, as: :t %>
    </div>
  <% end %>
</section>

<footer>
  <%= paginate @private_topics %>
  <nav>
    <% if can? :create, messageboard.topics.build %>
      <ul class="actions">
        <li><%= link_to 'Create a New Topic', new_messageboard_topic_path(messageboard) %></li>
      </ul>
    <% end %>
    <ul class="breadcrumbs">
      <li><%= link_to 'Forums', root_path %></li>
      <li><span><%= messageboard.title %></span></li>
    </ul>
  </nav>
</footer>
