<p class="title">
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<% if params[:type] == "private" -%>
  <%= f.hidden_field :type %>
  <p class="private_users">
    <%= f.label :user_id, "private users" %>
    <%= f.select(:user_id, messageboard.users.collect{|u| [u.name, u.id]}, {}, { :multiple => true }) %>
  </p>
<% end -%>

<div id="drawer">
  <div id="attributes">
    <% if current_user && current_user.admins?(messageboard) -%>
      <p class="locked">
        <%= f.label :locked %>
        <%= f.check_box :locked %>
      </p>
      <p class="sticky">
        <%= f.label :sticky -%>
        <%= f.check_box :sticky -%>
      </p>
    <% end -%>
  </div>
  <div class="handle"><a href="#attributes">More</a></div>
</div>

<%= f.fields_for :posts do |post_form| %>
  <%= post_form.label :filter %>
  <%= post_form.select :filter, Post.filters %>
  <p class="content">
    <%= post_form.label :content %>
    <%= post_form.text_area :content, :rows => 5 %>
  </p>
  <!-- 
  <%= post_form.fields_for :images do |image_form| %>
    <%= image_form.file_field :image %>
  <% end %>
  -->
<% end %>


