<% topic = TopicDecorator.new(topic) %>

<article <%= topic.css_class %>>
  <div  class="post_count"><%= topic.posts_count %></div>

  <h1>
    <%= link_to topic.title,
      messageboard_topic_posts_path(messageboard.name, topic.slug),
      class: already_read(topic, @tracked_user_reads) %>
  </h1>

  <cite class="updated_by">
    <%= topic.updated_at_timeago %>
    <%= topic.last_user_link %>
  </cite>

  <cite class="started_by">
    <%= topic.created_at_timeago %>
    <%= topic.user_link %>
  </cite>
</article>
