<% content_for :page_id do %>topics_listing<% end %>
<% content_for :page_title do %><%= app_config.title %> | <%= messageboard.title %> | Recent Topics<% end %>

<header>
  <nav>
    <ul class="breadcrumbs">
      <li><%= link_to 'Forums', root_path %></li>
      <li><%= link_to messageboard.title, messageboard_topics_path(messageboard) %></li>
      <li><span><%= @category_name %></span></li>
    </ul>
  </nav>

  <%= render 'shared/currently_online' %>
  <%= render 'shared/topic_nav' %>
</header>

<section class="topics">
  <% if @sticky.any? %>
    <div class="stuck">
      <%= render partial: 'topics/topic_condensed', collection: @sticky, as: :t %>
    </div>
  <% end %>

  <% if @topics.any? %>
    <div class="currently">
      <%= render partial: 'topics/topic_condensed', collection: @topics, as: :t %>
    </div>
  <% end %>
</section>

<footer>
  <% if can? :create, messageboard.topics.build %>
    <%= link_to 'Create a New Topic', new_messageboard_topic_path(messageboard) %>
  <% end %>
</footer>
