<% content_for :page_id do %>topics_edit<% end %>
<% content_for :page_title do %>
  <%= app_config.title %> | <%= messageboard.title %> | Edit Topic
<% end %>

<header>
  <nav>
    <ul class="breadcrumbs">
      <li><a href="/">Forums</a></li>
      <li><%= link_to messageboard.title,
        messageboard_topic_posts_path(messageboard, topic) %></li>
      <li>
        <span>
          Editing Topic - <%= link_to topic.title, [messageboard, topic] %>
        </span>
      </li>
    </ul>
  </nav>
</header>

<div class="forms">
  <ul>
    <%= nested_form_for [@messageboard, @topic],
      url: messageboard_topic_path(@messageboard, @topic),
      html: { method: :put, class: :topic_form, multipart: true } do |f| %>

      <%= render 'form', f: f, messageboard: MessageboardDecorator.new(messageboard) %>

      <li class="submit">
        <%= f.submit 'Update Topic' %>
      </li>
    <% end %>
  </ul>
</div>
