<% content_for :page_id do %>topics_listing<% end %>
<% content_for :page_title do %><%= site.title %> | <%= messageboard.title %> | Recent Topics<% end %>
<% content_for :header_nav do %>
    <nav>
      <ul>
        <%= render :partial => 'search/form' %>
        <% if messageboard.postable_by?(current_user) -%>
          <li class="new_topic"><%= link_to "Create a New Topic", new_messageboard_topic_path(messageboard) %></li>
        <% end -%>
      </ul>
    </nav>
<% end %>

<header>
  <nav>
    <ul>
      <li><a href="/">Forums</a> &rarr; </li>
    </ul>
  </nav>
  <h1><%= messageboard.title %></h1>
  <h2>Recent Updates</h2>
  <%= paginate @topics %>

  <div class="title">Topic Title</div>
  <div class="posts">Posts</div>
  <div class="started">Started</div>
  <div class="updated">Updated</div>
</header>

<section class="topics">
  <%= render :partial => "topics/topic_condensed", :collection => @sticky, :as => :t %>
  <%= render :partial => "topics/topic_condensed", :collection => @topics, :as => :t %>
</section>

<footer>
  <% if messageboard.postable_by?(current_user) -%>
    <%= link_to "Create a New Topic", new_messageboard_topic_path(messageboard) %>
  <% end -%>
</footer>
