<% content_for :page_id do %>topics_new<% end %>
<% content_for :page_title do %>
  <%= app_config.title %> | <%= messageboard.title %> | start a new topic
<% end %>

<header>
  <nav>
    <ul class="breadcrumbs">
      <li><a href="/">Forums</a></li>
      <li><%= link_to messageboard.title,
        messageboard_topics_path(messageboard) %></li>
      <li><span>New Topic</span></li>
    </ul>
  </nav>
</header>

<div class="forms">
  <%= nested_form_for( [messageboard, @topic],
    url: create_messageboard_topic_url(messageboard, @topic),
    html: { multipart: true, class: :topic_form }) do |f| %>

    <ul>
      <%= render 'form', f: f, messageboard: MessageboardDecorator.new(messageboard) %>

      <li class="submit">
        <%= f.submit 'Create New Topic', { tabindex: 3 } %>
      </li>
    </ul>
  <% end %>
</div>
