<% content_for :page_id do %>topics_listing<% end %>
<% content_for :page_title do %>
  <%= app_config.title %> | <%= messageboard.title %> | Search Results
<% end %>

<header>
  <nav>
    <ul class="breadcrumbs">
      <li><%= link_to 'Forums', root_path %></li>
      <li><%= link_to messageboard.title, messageboard_topics_path(messageboard) %></li>
      <li><span>Results for "<%= params[:q]%>"</span></li>
    </ul>
  </nav>

  <%= render 'shared/currently_online' %>
  <%= render 'shared/topic_nav' %>
</header>

<section class="topics">
  <div class="currently">
    <%= render partial: 'topics/topic_condensed', collection: @topics, as: :topic %>
  </div>
</section>

<footer>
  <nav>
    <% if can? :create, messageboard.topics.build %>
      <ul class="actions">
        <li><%= link_to 'Create a New Topic', new_messageboard_topic_path(messageboard) %></li>
      </ul>
    <% end %>

    <ul class="breadcrumbs">
      <li><%= link_to 'Forums', root_path %></li>
      <li><span><%= messageboard.title %></span></li>
    </ul>
  </nav>
</footer>
