<% content_for :page_id do %>topics_listing<% end %>
<% content_for :page_title do %>
  <%= app_config.title %> | <%= messageboard.title %> | Search Results
<% end %>

<header>
  <nav>
    <ul class="breadcrumbs">
      <li><a href="/">Forums</a></li>
      <li><%= link_to messageboard.title,
        messageboard_topics_path(messageboard) %></li>
      <li><span>Results for "<%= params[:q]%>"</span></li>
    </ul>
    <ul class="actions">
      <% if messageboard.postable_by?(current_user) -%>
        <li class='new_topic'><%= link_to 'new topic',
          new_messageboard_topic_path(messageboard) %></li>
        <li class='new_private_topic'><%= link_to 'private topic',
          new_messageboard_topic_path(messageboard, type: 'private') %></li>
      <%- end -%>
    </ul>
  </nav>
  <%= render partial: 'shared/currently_online' %>
  <%= render partial: 'shared/topic_nav' %>
</header>

<section class="topics">
  <div class="currently">
    <%= render partial: 'topics/topic_condensed', collection: @topics, as: :t %>
  </div>
</section>

<footer>
  <nav>
    <%- if messageboard.postable_by?(current_user) -%>
      <ul class="actions">
        <li><%= link_to 'Create a New Topic',
          new_messageboard_topic_path(messageboard) %></li>
      </ul>
    <%- end -%>
    <ul class="breadcrumbs">
      <li><a href="/">Forums</a></li>
      <li><span><%= messageboard.title %></span></li>
    </ul>
  </nav>
</footer>
