<% content_for :page_id do %>topics_posts<% end %>
<% content_for :page_title do %><%= site.title %> | <%= topic.title %> | Posts<% end %>
<% content_for :header_nav do %>
    <nav>
      <ul>
        <li class="new_topic"><%= link_to "Create a New Topic", new_messageboard_topic_path(messageboard) %></li>
        <li class="reply_to_topic"><a href="#new_post">Reply To This Topic</a></li>
        <li class="edit_topic"><%= link_to "edit subject", edit_messageboard_topic_path(messageboard, topic) %></li>
      </ul>
    </nav>
<% end %>

  <header>
    <nav>
      <ul>
        <li><a href="/">Forums</a> &rarr; </li>
        <li><%= link_to messageboard.title, messageboard_path(messageboard) %> &rarr; </li>
      </ul>
    </nav>
    <h1><%= topic.title %></h1> 
    <% if topic.users_to_sentence %>
      <cite><%= topic.users_to_sentence %></cite>
    <% end %>
  </header>

  <%= render topic.posts %>

  <%= form_for [messageboard, topic, @post] do |f| %>
    <p>
      <%= f.label :filter %>
      <%= f.select :filter, Post.filters %>

      <%= f.label :your_content %>:
      <%= f.text_area :content, :rows => 5 %>
    </p>
    <%= f.submit "Submit" %>
  <% end -%>
