<% content_for :page_id do %>topics_posts<% end %>
<% content_for :page_title do %><%= THREDDED[:site_name] %> | <%= topic.title %> | Posts<% end %>

<%= render :partial => "shared/header" %>

<section id="content">
  <header>
    <h1><%= topic.title %></h1> 
  </header>

  <% topic.posts.each do |p| %>
    <%= p.user %><br/>
    <%= p.created_at %><br/>
    <%= p.content %>
  <% end %>

  <%= form_for [messageboard, topic, @post] do |f| %>
    <p>
    <%= f.label :your_content %>:<br/>
      <%= f.text_area :content, :rows => 5 %>
    </p>
    <%= f.submit "Submit" %>
  <% end %>
</section>
