<h1><%= topic.title %></h1> 

<% topic.posts.each do |p| %>

  <%= p.content %>

<% end %>

<br/> <br/> <br/> <br/>

<%= form_for [messageboard, topic, @post] do |f| %>
  <p>
  <%= f.label :your_content %>:<br/>
    <%= f.text_area :content, :rows => 5 %>
  </p>
  <%= f.submit "Submit" %>
<% end %>
