<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :page_title %></title>
    <%= stylesheet_link_tag("nav_bar") %>
    <%= theme_stylesheet_link_tag 'style' %>
    <%= csrf_meta_tag %>
  </head>
  <!-- default plainole layout -->
  <body id="<%= yield :page_id %>">

    <header>

      <nav id="site_wide">
        <ul>
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/login_items' %>
        </ul>
      </nav>

    </header>

    <section id="contentwrap">
      <%= render :partial => "shared/error_msgs" %>
      <%= yield %>
    </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <%= theme_javascript_include_tag "jquery.timeago" %>
    <%= theme_javascript_include_tag "application" %>
  </body>
</html>
