<% content_for :page_id do %>users<% end %>
<% content_for :page_title do %><%= app_config.title %> | Users<% end %>

<h1>Users</h1>

<table cellpadding="0" cellspacing="0" border="0" id="users">
  <tr>
    <th>&nbsp;</th>
    <th>Name</th>
    <th># of Posts</th>
    <th>Last Active</th>
    <th>Member Since</th>
  </tr>
  <% @users.each do |user| %>
    <% user = UserDecorator.new(user) %>
    <tr>
      <td><%= image_tag user.gravatar_url, class: 'avatar' %></td>
      <td><%= user.name %></td>
      <td><%= user.posts_count %></td>
      <td><%= user.last_active_timeago %></td>
      <td><%= user.created_at_timeago %></td>
    </tr>
  <% end %>
</table>
