<% content_for :page_id do %>session_mgmt<% end %>
<% content_for :page_title do %>
  <%= app_config.title %> | Edit <%= resource_name.to_s.humanize %>
<% end %>

<h1>Edit Your Account</h1>

<% if session[:signed_in_with] %>
  <%= form_tag identity_path, method: :put, class: 'link_identity' do %>
    <fieldset>
      <legend>Link Your Account</legend>

      <p>
        You have logged in with an external service like GitHub, Facebook or Twitter
        and might have an account here already. If you would like to link your external
        service's identity with your existing account, submit your email and password below.
        The next time you log in with that external identity you'll be using the
        correct account here!
      </p>

      <ul>
        <li>
          <%= label_tag :email %>
          <%= email_field :identity, :email, autocapitalize: 'off', value: '', placeholder: 'Your account email', autocorrect: 'off' %>
        </li>
        <li>
          <%= label_tag :password %>
          <%= password_field :identity, :password, placeholder: 'Your account password' %>
        </li>
        <li class="submit"><%= submit_tag 'Link Your Account', id: 'identity_submit' %></li>
      </ul>
    </fieldset>

    <hr />
  <% end %>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
  html: { method: :put, class: 'session_mgmt' }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <legend>Your Profile</legend>
    <ul>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: 'autofocus' %>
      </li>

      <li>
        <%= f.label :email %>
        <%= f.email_field :email, autocapitalize: 'off',
          autocorrect: 'off', disabled: 'disabled' %>
      </li>

      <li>
        <%= f.label :time_zone %>
        <%= f.time_zone_select :time_zone %>
      </li>

      <li>
        <%= f.label :post_filter %>
        <%= f.select :post_filter, Post::Filters, {} %>
        <em>(your most commonly used post filter)</em>
      </li>

      <li class="submit"><%= f.submit 'Update Your Profile' %></li>
    </ul>
  </fieldset>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
  html: { method: :put, class: 'session_mgmt' }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <legend>Change Your Password</legend>
    <ul>
      <li>
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: 'Your new password' %>
      </li>

      <li>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, placeholder: 'Your new password one more time' %>
      </li>

      <li>
        <%= f.label :current_password %>
        <%= f.password_field :current_password, placeholder: 'Your current password' %>
        <em>(... so we can confirm your changes)</em>
      </li>

      <li class="submit"><%= f.submit 'Change Your Password' %></li>
    </ul>
  </fieldset>
<% end %>

<fieldset data-section='preferences'>
  <legend>Update Preferences For Your Messageboards</legend>
  <% unless params['messageboard'] %>
    <%= render partial: 'form_selecting_messageboard' %>
  <% else %>
    <%= render partial: 'form_preferences', locals: { preference: @preference } %>
  <% end %>
</fieldset>

<br />
<br />
<br />
<br />

<fieldset>
  <legend>Cancel Your Account? <small>Really??</small></legend>
  <p>
   <%= link_to 'Cancel My Account',
        registration_path(resource_name), data: { confirm: 'Are you sure? :(' },
        method: :delete, class: 'btn red' %>
  </p>
</fieldset>
