<%= form_for(@user, :as => :user, :url => create_setting_path(:step => step || '1'), :method => :post) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :title %>
  <%= f.text_field :title %></p>

  <p><%= f.label :description %>
  <%= f.text_field :description %></p>

  <p><%= f.label :cname_alias %>
  <%= f.password_field :cname_alias %></p>

  <p><%= f.submit "Continue" %></p>
<% end %>
