<% content_for :page_id do %>messageboard_listing<% end %>
<% content_for :page_title do %>
  <%= app_config.title %> | Messageboard Listing
<% end %>

<header>
  <nav>
    <ul class="breadcrumbs">
      <li><span>Forums</span></li>
    </ul>
  </nav>

  <h2>
    <%= messageboard_count %> messageboards,
    <%= topics_count %> topics,
    and <%= posts_count %> posts
  </h2>
</header>

<section id="messageboards">
  <%= render @messageboards %>
</section>
