<% content_for :page_id do %>messageboard_listing<% end %>
<% content_for :page_title do %><%= app_config.title %> | Messageboard Listing<% end %>

<header>
  <nav>
    <ul class="breadcrumbs">
      <li><span>Forums</span></li>
    </ul>
  </nav>
  <h2>
    <%= number_to_human(app_config.messageboards_count).downcase %> messageboards,
    <%= number_to_human(app_config.topics_count, precision: 4).downcase %> topics,
    and <%= number_to_human(app_config.posts_count, precision: 5).downcase %> posts</h2>
</header>

<section id="messageboards">
  <%= render @messageboards %>
</section>
