<% content_for :page_id do %>topics_listing<% end %>
<% content_for :page_title do %><%= THREDDED[:site_name] %> | <%= messageboard.title %> | Recent Topics<% end %>
<% content_for :header_nav do %>
    <nav>
      <ul>
        <li class="new_topic"><%= link_to "Create a New Topic", new_site_messageboard_topic_path(site, messageboard) %></li>
      </ul>
    </nav>
<% end %>
<header>
  <nav>
    <ul>
      <li><a href="/">Forums</a> &rarr; </li>
    </ul>
  </nav>
  <h1><%= messageboard.title %></h1>
  <h2>Recent Updates</h2>
  <div class="title">Topic Title</div>
  <div class="started">Started</div>
  <div class="updated">Updated</div>
  <div class="posts">Posts</div>
</header>
<%= render :partial => "topics/topic_condensed", :collection => @topics, :as => :t %>
<footer>
  <%= link_to "Create a New Topic", new_site_messageboard_topic_path(site, messageboard) %>
</footer>
