<% content_for :page_id do %>session_mgmt<% end %>
<% content_for :page_title do %><%= site.title %> | Log In<% end %>

<header>
  <nav>
    <ul class="breadcrumbs">
      <li><span>Log In</span></li>
    </ul>
  </nav>
</header>

<div class="forms">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name),
    html: { class: 'session_mgmt' }) do |f| %>
    <ul>
      <li>
        <%= f.label :email %>
        <%= f.email_field :email, autocapitalize: 'off',
          autocorrect: 'off', autofocus: 'autofocus' %>
      </li>

      <li>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </li>

      <% if devise_mapping.rememberable? -%>
        <li>
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %>
            Remember me
          <% end %>
        </li>
      <% end -%>

      <li class="submit">
        <%= f.submit 'Sign in' %>
        <%= render partial: 'devise/shared/links' %>
      </li>
    </ul>
  <% end %>
</div>
