<% cache post do %>
  <%= content_tag_for(:article, post) do %>
    <header>
      <%= image_tag post.gravatar_url, class: 'avatar' %>
      <cite>
        <%= link_to post.user.name, post.user %>
        <abbr class="timeago" title="<%= post.created_timestamp %>">
          <%= post.created_date %>
        </abbr>
      </cite>
    </header>

    <div class="content">
      <p><%= post.filtered_content %></p>
      <ul class="attachments"><%= render post.attachments %></ul>
    </div>
  <% end %>
<% end %>
