<% content_for :page_id do %>posts_edit<% end %>
<% content_for :page_title do %>
  <%= app_config.title %> | <%= messageboard.title %> | Edit Post
<% end %>

<header>
  <nav>
    <ul class="breadcrumbs">
      <li><a href="/">Forums</a></li>
      <li><%= link_to messageboard.title,
        messageboard_topic_posts_path(messageboard, topic) %></li>
      <li>
        <span>
          Editing Post - <%= link_to "##{@post.id}",
          messageboard_topic_posts_path(messageboard, topic) + "#post_#{@post.id}" %>
        </span>
      </li>
    </ul>
  </nav>
</header>

<div class="forms">
  <%= nested_form_for([messageboard, topic, @post], url: { action: 'update' },
    html: { method: :put, class: :topic_form }) do |f| %>
    <ul>
      <%= render partial: 'form', locals: { f: f } %>
      <li class="submit">
        <%= f.submit 'Update Post', { tabindex: 2 } %>
      </li>
    </ul>
  <% end %>
</div>
