<% content_for :page_id do %>topics_posts<% end %>
<% content_for :page_title do %>
  <%= app_config.title %> | <%= topic.title %> | Posts
<% end %>

<header <%= topic.css_class %>>
  <nav>
    <ul class="breadcrumbs">
      <li><%= link_to 'Forums', root_path %></li>
      <li><%= link_to messageboard.title, messageboard_topics_path(messageboard) %></li>
      <li>
        <span>
          <%= topic.title %>

          <% if can? :edit, topic %>
            <%= link_to 'edit', edit_messageboard_topic_path(messageboard, topic) %>
          <% end %>
        </span>
      </li>
    </ul>
  </nav>

  <% if topic.users_to_sentence.present? %>
    <cite><%= topic.users_to_sentence %></cite>
  <% end %>

  <%= render 'shared/currently_online' %>
  <%= render 'shared/topic_nav' %>
</header>

<section class="posts">
  <%= render @posts %>
</section>

<footer>
  <%= paginate @posts %>

  <% if can? :create, @post %>
    <div class="forms">
      <%= nested_form_for([messageboard, topic, @post],
        url: create_messageboard_topic_post_path(messageboard, topic, @post),
        html: { multipart: true }) do |f| %>
        <ul>
          <%= render partial: 'form', locals: { f: f } %>
          <li class="submit"><%= f.submit 'Submit reply', { tabindex: 3 } %></li>
        </ul>
      <% end %>
    </div>
  <% elsif !signed_in? %>
    <div class="sign_in_to_post">
      <%= render partial: 'login_form',
        locals: { resource: User.new, resource_name: :user } %>
    </div>
  <% end %>

  <nav>
    <ul class="breadcrumbs">
      <li><%= link_to 'Forums', root_path %></li>
      <li><%= link_to messageboard.title, messageboard_topics_path(messageboard) %></li>
      <li>
        <span>
          <%= topic.title %>

          <% if can? :edit, topic %>
            <%= link_to 'edit', edit_messageboard_topic_path(messageboard, topic) %>
          <% end %>
        </span>
      </li>
    </ul>
  </nav>
</footer>
