<% content_for :page_id do %>topics_posts<% end %>
<% content_for :page_title do %><%= site.title %> | <%= topic.title %> | Posts<% end %>
<% content_for :header_nav do %>
    <nav>
      <ul>
        <li class="new_topic"><%= link_to "Create a New Topic", link_for_new_topic(site, messageboard) %></li>
      </ul>
    </nav>
<% end %>

<header>
  <h1><%= topic.title %></h1> 
</header>

<% topic.posts.each do |p| %>
  <% if p.valid? %>
  <article id="post-<%= p.id %>">
    <header>	
      <abbr class="timeago" title="<%= p.created_timestamp %>"><%= p.created_date %></abbr>
      <cite>
        <a href="/users/<%= p.user %>">
          <%= image_tag p.gravatar_url %>
          <%= p.user.name %>
        </a>
      </cite>
    </header>
    <p><%= render_content_for(p) %></p>
    <footer>
      <% if true or can? :manage, p %>
        <%= link_to "edit post", link_to_edit_post( site, messageboard, topic, p ) %>
      <% end -%>
    </footer>
  </article>
  <% end -%>
<% end -%>

<%= form_for( [site, messageboard, topic, @post],
              :url => link_for_create_topic_post( site, messageboard, topic, @post ),
              :html => { :multipart => true } ) do |f| %>
  <p>
    <%= f.label :filter %>
    <%= f.select :filter, Post.filters %>

    <%= f.label :your_content %>:
    <%= f.text_area :content, :rows => 5 %>
  </p>
  <%= f.submit "Submit" %>
<% end -%>
