<% content_for :page_id do %>topics_posts<% end %>
<% content_for :page_title do %><%= site.title %> | <%= topic.title %> | Posts<% end %>
<% content_for :header_nav do %>
    <nav>
      <ul>
        <%= render :partial => 'search/form' %>
        <% if messageboard.posting_for_anonymous? || (current_user && current_user.can_post_to?(messageboard)) -%>
          <li class="new_topic"><%= link_to "Create a New Topic", new_messageboard_topic_path(messageboard) %></li>
          <li class="reply_to_topic"><a href="#new_post">Reply To This Topic</a></li>
        <% end -%>
        <% if (current_user && current_user.admins?(messageboard)) || topic.user == current_user  -%>
          <li class="edit_topic"><%= link_to "edit subject", edit_messageboard_topic_path(messageboard, topic) %></li>
        <% end -%>
      </ul>
    </nav>
<% end %>

  <header>
    <% cache ["posts", "header",  messageboard] do %>
      <nav class="breadcrumbs">
        <ul>
          <li><a href="/">Forums</a> &rarr; </li>
          <li><%= link_to messageboard.title, messageboard_topics_path(messageboard) %> &rarr; </li>
        </ul>
      </nav>
    <% end %> 

    <% cache ["posts", "header", topic] do %>
      <h1><%= topic.title %></h1> 
      <h2><%= topic.posts_count %> posts</h2>
      <% if topic.users_to_sentence %>
        <cite><%= topic.users_to_sentence %></cite>
      <% end %>
    <% end %>
  </header>
  
  <%= render topic.posts %>
  
  <% if messageboard.posting_for_anonymous? || (current_user && current_user.can_post_to?(messageboard)) -%>
    <%= nested_form_for([messageboard, topic, @post],
      :url => create_messageboard_topic_post_url(messageboard, topic, @post, :host => site.cached_domain),
      :html => { :multipart => true }) do |f| %>

      <%= render :partial => 'form', :locals => { :f => f } %>

      <%= f.submit "Submit reply", { :tabindex => 3 } %>

    <% end -%>
  <% end -%>

<% cache ["posts", "footer", messageboard] do %>
  <footer>
    <nav class="breadcrumbs">
      <ul>
        <li><a href="/">Forums</a> &rarr; </li>
        <li><%= link_to messageboard.title, messageboard_topics_path(messageboard) %> &rarr; </li>
      </ul>
    </nav>
  </footer>
<% end %>
