<% content_for :page_id do %>topics_posts<% end %>
<% content_for :page_title do %>
  <%= site.title %> | <%= topic.title %> | Posts
<% end %>

<header <%= topic.css_class %>>
  <nav>
    <ul class="breadcrumbs">
      <li><a href="/">Forums</a></li>
      <li><%= link_to messageboard.title,
        messageboard_topics_path(messageboard) %></li>
      <li>
        <span>
          <%= topic.title %>

          <% if (current_user && current_user.admins?(messageboard)) || topic.user == current_user  -%>
            <%= link_to 'edit', edit_messageboard_topic_path(messageboard, topic) %>
          <% end -%>
        </span>
      </li>
    </ul>
    <ul class="actions">
      <%= render partial: 'search/form' %>
      <% if messageboard.postable_by?(current_user) -%>
        <li class='new_topic'><%= link_to 'new topic',
          new_messageboard_topic_path(messageboard) %></li>
        <li class='new_private_topic'><%= link_to 'private topic',
          new_messageboard_topic_path(messageboard, type: 'private') %></li>
      <%- end -%>
    </ul>
  </nav>

  <% if topic.users_to_sentence.present? %>
    <cite><%= topic.users_to_sentence %></cite>
  <% end %>

  <%= render partial: 'shared/currently_online' %>
</header>

<section class="posts">
  <%= render topic.posts %>
</section>

<% if messageboard.postable_by?(current_user) && !topic.locked -%>
  <div class="forms">
    <%= nested_form_for([messageboard, topic, @post],
      url: create_messageboard_topic_post_url(messageboard, topic, @post, host: site.cached_domain),
      html: { multipart: true }) do |f| %>
      <ul>
        <%= render :partial => 'form', :locals => { :f => f } %>
        <li class="submit"><%= f.submit "Submit reply", { :tabindex => 3 } %></li>
      </ul>
    <% end -%>
  </div>
<% end -%>

<footer>
  <nav>
    <%# paginate @posts %>
  </nav>
</footer>
