<% content_for :page_id do %>admin_users_edit<% end %>
<% content_for :page_title do %>Admin | <%= @user.name %> | Edit<% end %>

<div class="admin_column">
  <h1><%= @user.name %></h1>
  <%= form_for [@site, @user],
                      :url => admin_site_user_path(@site.id, @user.id),
                      :html => { :method => :put, :class => :user_form } do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <p> <%= f.submit "Edit User" %> </p>
  <% end %>
</div>
