<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %></title>
  <%= stylesheet_link_tag "application" %>
  <script src="/javascripts/modernizr.js"></script>
  <%= csrf_meta_tag %>
</head>
<!-- default layout -->
<body id="<%= yield :page_id %>" data-tz-offset="<%= tz_offset %>">

  <header>
    <nav id="site_wide">
      <% if site %>
        <h1>
          <a href="/" title="<%= site.description %>"><%= site.title %></a>
        </h1>
      <% end %>
      <ul>
        <%= render 'devise/menu/admin_items' %>
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </ul>
    </nav>
  </header>

  <section id="contentwrap">
    <header role="banner">
      <%= yield :header_nav %>
      <% if messageboard %>
        <div class="online">
          <h3>Currently Online</h3>
          <ul>
            <% messageboard.active_users.each do |u| %>
             <li><%= u.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="category_list">
          <h3>Categories</h3>
          <ul>
            <% messageboard.categories.order("categories.name ASC").each do |c| %>
              <li><%= link_to c.name, messageboard_topics_by_category_path(messageboard, c) %></li>
            <% end %>
        </div>
      <% end %>
    </header>
    <%= render :partial => "shared/error_msgs" %>
    <section id="content">
      <%= yield %>
    </section>
  </section>

  <%= javascript_include_tag "application" %>
</body>
</html>
