<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :page_title %></title>
    <%= stylesheet_link_tag "application" %>
    <script src="/javascripts/modernizr.js"></script>
    <link rel="author" href="humans.txt" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= csrf_meta_tag %>
  </head>
  <!-- default layout -->
  <body id="<%= yield :page_id %>" data-tz-offset="<%= tz_offset %>" class="layout-application">
    <header>
      <nav id="site_wide">
        <% if site %>
          <h1>
            <a href="/" title="<%= site.description %>"><%= site.title %></a>
          </h1>
        <% end %>
        <ul>
          <%= render 'devise/menu/admin_items' %>
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/login_items' %>
        </ul>
      </nav>
      <a href="#" class="show-for-small menu_shortcut">Site Nav</a>
    </header>

    <section id="contentwrap">
      <%= render :partial => 'shared/error_msgs' %>
      <section id="content">
        <%= yield %>
      </section>
    </section>

    <footer>
      <ul>
        <li><a href="/">thredded</a> &copy; <%= Time.now.year %> joel oliveira (<a href="http://twitter.com/jayroh">@jayroh</a>)</li>
        <li>An open source ruby on rails messageboard / forum. Want to make it better? Fork at <a href="https://github.com/jayroh/thredded">github</a>!</li>
      </ul>
    </footer>

    <%= javascript_include_tag "application" %>
  </body>
</html>
