<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :page_title %></title>
    <%= stylesheet_link_tag "application" %>
    <script src="/javascripts/head.js"></script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="author" href="/humans.txt">
    <link rel="apple-touch-icon-precomposed" href="/images/touch-icon-iphone.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/touch-icon-ipad.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/touch-icon-ipad-retina.png">
    <link rel="apple-touch-startup-image" href="/images/startup-320x460.png" media="screen and (max-device-width : 320px)">
    <link rel="apple-touch-startup-image" href="/images/startup-640x920.png" media="(max-device-width : 480px) and (-webkit-min-device-pixel-ratio : 2)">
    <link rel="apple-touch-startup-image" href="/images/startup-640x1096.png" media="(max-device-width : 548px) and (-webkit-min-device-pixel-ratio : 2)">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Thredded">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= csrf_meta_tag %>
  </head>
  <body id="<%= yield :page_id %>" data-tz-offset="<%= tz_offset %>" class="layout-application" <%= extra_data %>>
    <header>
      <nav id="site_wide">
        <% if site %>
          <h1>
            <a href="/" title="<%= site.description %>"><%= site.title %></a>
          </h1>
        <% end %>
        <ul>
          <%= render 'devise/menu/admin_items' %>
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/login_items' %>
        </ul>
      </nav>
      <a href="#" class="show-for-small menu_shortcut">Site Nav</a>
    </header>

    <section id="contentwrap">
      <%= render partial: 'shared/error_msgs' %>
      <%= render partial: 'pseudohelp/help' %>
      <section id="content">
        <%= yield %>
      </section>
    </section>

    <footer>
      <ul>
        <li><a href="/">thredded</a> &copy; <%= Time.now.year %> joel oliveira (<a href="http://twitter.com/jayroh">@jayroh</a>)</li>
        <li>An open source ruby on rails messageboard / forum. Want to make it better? Fork at <a href="https://github.com/jayroh/thredded">github</a>!</li>
      </ul>
    </footer>

    <%= javascript_include_tag "application" %>
  </body>
</html>
