<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %></title>
  <%= stylesheet_link_tag    "application" %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
  <%= csrf_meta_tag %>
</head>
<!-- default layout -->
<body id="<%= yield :page_id %>">
	<header>
		
		<nav id="site_wide">
			<ul>
			  <%= render 'devise/menu/registration_items' %>
			  <%= render 'devise/menu/login_items' %>
			</ul>
		</nav>

	</header>

	<section id="contentwrap">
    <header role="banner">
      <hgroup>
        <h1><%# site.title %></h1>
        <h2><%# site.description %></h2>
      </hgroup>
      <%= yield :header_nav %>
    </header>
  
		<%= render :partial => "shared/error_msgs" %>
    <section id="content">
      <%= yield %>
    </section>
	</section>

	<footer>
		<p class="copy">&copy; A <a href="http://joeloliveira.com">WeatherField</a> / <a href="http://the47th.com">47th</a> Joint</p>
	</footer>

  <%= javascript_include_tag "application" %>
</body>
</html>
