<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %></title>
  <%= stylesheet_link_tag "application" %>
  <script src="/javascripts/modernizr.js"></script>
  <link rel="author" href="humans.txt" />
  <meta name="viewport" content="width=device-width" />
  <%= csrf_meta_tag %>
</head>
<body id="settings" class="layout-setup">

  <section id="contentwrap">
    <%= render :partial => "shared/error_msgs" %>
    <section id="content">
      <%= yield %>
    </section>
  </section>

  <%= javascript_include_tag "application" -%>
</body>
</html>

